.wrapper {
  background-color: #eb0237;
  color: white;
  display: flex;
  gap: 10px;
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
}

.wrapper:hover {
  background-color: #a01131;
}

.wrapper:active {
  filter: brightness(50%);
}

.flipping {
  animation: flip-animation 1s infinite;
}

@keyframes flip-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
