.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-weight: 400;
  font-style: italic;
  font-size: 32px;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 12px;
}
